*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #68ab99;
}
.container{
    width: 100%;
    min-height: 100vh;
    /* background:linear-gradient(139def,#35a335,#4c0404) ; */
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(212, 212, 222);
    margin: 100px auto 20px;
    padding:  40px 30px 70px;
    border-radius: 10px;

}
.todo-app h2{
    color: red;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.todo-app h2 img{
    width: 30px;
    margin-left:10px ;

}
.row
{
display: flex;
align-items: center;
justify-content: space-between;
background: #f8f8f8e3;
border-radius: 30px;
padding: 10px;
margin-bottom: 20px;
}
input{
flex: 1;
border: none;
outline: none;
background: transparent;
padding: 10px;
border-radius: 5px;
}
button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: rgb(186, 139, 139);
    color: #4c0404;
    font-size: 15px ;
    cursor: pointer;
    border-radius:30px ;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none; 
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image:url(unchecked.png) ;
    background-size: cover;
    background-position: center;
    left: 12px;
    right: 8px;
}
ul li.check{
    color:rgb(216, 8, 8);
    text-decoration: line-through;


}
ul li.check::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size:22px;
    color: #0d0101;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #d40404;
}